<% content_for :title, "Edit Question" %>
<% content_for :js_include, javascript_include_tag('jquery-ui-1.8.16.min', 'jquery-notes_1.0.8_min', 'question') %>
<h2>Edit Question</h2>
<div>
  <%= form_for @question, :url => question_path, :html => {:class => 'jqtransform'} do |f| %>
    <div>
      <div class="left image_form_label">
        <%= f.label 'Question:' %>
      </div>
      <div class="left">
        <%= f.text_area :question, :rows => 2, :style => 'height: 70px;' %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left image_form_label">
        <%= f.label 'Category:' %>
      </div>
      <div class="left">
        <%= f.select :category_code, @categories %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div id="image">
      <%= render :partial => 'images/category_images' %>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left image_form_label">
        <%= f.label 'Explanation:' %>
      </div>
      <div class="left">
        <%= f.text_area :explanation, :style => 'height: 105px;' %>
      </div>
    </div>
    <div class="clear"></div>
    <div class="left" style="margin-left: 550px; font-weight: bold">Correct Option</div>
    <div class="clear"></div>
    <% @question.answers.each_with_index do |answer, i| %>
      <div>
        <div class="left image_form_label">
          <label>Option <%= @codes[i] %>:</label>
        </div>
        <div class="left question_option">
          <input name="option<%= i %>[option]" style="width: 398px" value="<%= answer.option %>" />
          <input type="radio" id="option<%= i %>" value="<%= i %>" name="correct_option" style="margin-left: 50px;" />
          <% if answer.correct %>
            <input type="hidden" id="correct_option_indx" value="<%= i %>" />
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
    <% end %>
    <div class="question_form_submit">
      <%= link_to 'cancel', questions_path %>
      <span>
        <%= f.submit 'Save', :type => :image, :src => "/images/save_btn.png" %>
      </span>
      <div class="clear"></div>
    </div>
  <% end %>
</div>