<% content_for :title, @assessment.name %>
<% content_for :js_include, javascript_include_tag('jquery-ui-1.8.16.min', 'jquery-notes_1.0.8_min', 'question') %>
<br />
<h2><%= @assessment.name %></h2>
<h3><%= @question.question %></h3>
<div class="left">
  <%= image_tag '/images/cyto/' + @image.id.to_s + '.' + @image.format, :class => 'jquery-note_1-1' %>
</div>
<div class="left" style="margin-left: 20px;">
  <% @question.answers.each do |answer| %>
    <div>
      <input type="radio" value="<%= answer.id %>" name="option" /><%= answer.option %>
    </div>
    <br />
  <% end %>
  <br />
</div>
<input type="hidden" id="image_id" value="<%= @image.id %>" />