<% content_for :title, "All Assessments" %>
<% content_for :js_include, javascript_include_tag('jquery.dataTables.min', 'assessments') %>
<% content_for :css_include, stylesheet_link_tag('jquery.datatable') %>
<h2>Self Assessments</h2>
<% if current_user.admin? %>
   <div>
    <a href="<%= new_assessment_url %>" class="btn">Add Assessment</a>
  </div>
  <br />
<% end %>
<div>
  <% if @assessments.size > 0 %>
    <table id="questionsTable">
      <thead>
        <tr>
          <th>Assessment</th>
          <th>Category</th>
          <th>Created On</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @assessments.each do |assessment| %>
        <tr>
          <% assessment_path = assessment_path(assessment.id) %>
          <% assessment_path = edit_assessment_path(assessment.id) if current_user.admin? %>
          <td><%= link_to assessment.name, assessment_path %></td>
          <td><%= @categories[assessment.category_code] %></td>
          <td><%= assessment.created_at.strftime("%Y-%m-%d") unless assessment.created_at.nil? %></td>
          <td><%= link_to 'Delete', assessment_path(assessment.id), :method => :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="justify">There are no assessments in the tool yet.</p>
  <% end %>
</div>