<% content_for :title, "New Assessment" %>
<% content_for :js_include, javascript_include_tag('assessment') %>
<h2>New Assessment</h2>
<div>
  <%= form_for Assessment.new, :url => assessments_path do |f| %>
    <div class="top">
      <div class="pull-left span2">
        <%= f.label 'Name:' %>
      </div>
      <div class="pull-left">
        <%= f.text_field :name, :rows => 2 %>
      </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div>
      <div class="pull-left span2">
        <%= f.label 'Description:' %>
      </div>
      <div class="pull-left">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div>
      <div class="pull-left span2">
        <%= f.label 'Category:' %>
      </div>
      <div class="pull-left">
        <%= f.select :category_code, @categories %>
      </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div id="questions">
      <%= render :partial => 'questions/assessment_questions' %>
    </div>
    <br />
    <div class="top" style="margin-left: 197px;">
      <%= link_to 'cancel', assessments_path %>
      <span>
        <%= f.submit 'Create Assessment', :class => 'btn'  %>
      </span>
      <div class="clearfix"></div>
    </div>
  <% end %>
</div>