<% content_for :title, "New Assessment" %>
<% content_for :js_include, javascript_include_tag('assessment') %>
<br />
<h2>New Assessment</h2>
<div>
  <%= form_for Assessment.new, :url => assessments_path, :html => {:class => 'jqtransform'} do |f| %>
    <div>
      <div class="left image_form_label">
        <%= f.label 'Name:' %>
      </div>
      <div class="left">
        <%= f.text_field :name, :rows => 2 %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left image_form_label">
        <%= f.label 'Description:' %>
      </div>
      <div class="left">
        <%= f.text_area :description, :style => 'height: 105px; width: 300px;' %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left image_form_label">
        <%= f.label 'Category:' %>
      </div>
      <div class="left">
        <%= f.select :category_code, @categories.collect {|c| [c[1], c[0]]} %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div id="questions">
      <%= render :partial => 'questions/assessment_questions' %>
    </div>
    <br />
    <div class="question_form_submit">
      <%= link_to 'cancel', assessments_path %>
      <span>
        <%= f.submit 'Save', :type => :image, :src => "/images/save_btn.png" %>
      </span>
      <div class="clear"></div>
    </div>
  <% end %>
</div>