<% content_for :title, @assessment.name %>
<br />
<h2><%= @assessment.name %></h2>
<h3>Score</h3>
<table>
  <thead>
    <tr>
      <th>Total</th>
      <th>Correct</th>
      <th>Wrong</th>
      <th>Skipped</th>
      <th>Percent</th>
      <th>Pass</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= total_questions %></td>
      <td><%= count_for('correct') %></td>
      <td><%= count_for_wrong %></td>
      <td><%= count_for('skipped') %></td>
      <td><%= percent %></td>
      <td><%= pass %></td>
    </tr>
  </tbody>
</table>
<h3>Response Summary</h3>
<p class="justify">Click on skipped questions to attempt them again.</p>
<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Response</th>
    </tr>
  </thead>
  <tbody>
    <% @all_assessment_questions.each do |assessment_question| %>
      <tr>
        <td><%= link_question_if_skipped(assessment_question) %></td>
        <td><%= response_type(assessment_question) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <a href="<%= root_url %>">
    <div class="big_button done_button">Done</div>
  </a>
</div>