<% content_for :title, "Edit User" %>
<% content_for :js_include, javascript_include_tag('user') %>
<h2>Edit User</h2>
<div class="top">
  <%= form_for @user, :url => user_path do |f| %>
    <div>
      <div class="pull-left span2">
        <%= f.label 'Name:' %>
      </div>
      <div class="pull-left">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div>
      <div class="pull-left span2">
        <%= f.label 'Email:' %>
      </div>
      <div class="pull-left">
        <%= f.text_field :email, :disabled => true %>
      </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div>
      <div class="pull-left span2">
        <%= f.label 'Role:' %>
      </div>
      <div class="left user_form_select">
        <%= f.select :role, [['Administrator', 'admin'], ['User', 'user']] %>
      </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div>
      <div class="pull-left span2">
        <%= f.label 'Password:' %>
      </div>
      <div class="pull-left">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div>
      <div class="pull-left span2">
        <%= f.label 'Password Confirmation:' %>
      </div>
      <div class="pull-left">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="top" style="margin-left: 253px;">
      <%= link_to 'cancel', users_path %>
      <span>
        <%= f.submit 'Save User', :class => 'btn'  %>
      </span>
      <div class="clearfix"></div>
    </div>
  <% end %>
</div>