<% content_for :title, "Edit User" %>
<% content_for :js_include, javascript_include_tag('user') %>
<h2>Edit User</h2>
<div>
  <%= form_for @user, :html => {:class => 'jqtransform'}, :url => user_path do |f| %>
    <div>
      <div class="left form_label">
        <%= f.label 'Name:' %>
      </div>
      <div class="left">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left form_label">
        <%= f.label 'Email:' %>
      </div>
      <div class="left">
        <%= f.text_field :email, :disabled => true %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left form_label">
        <%= f.label 'Role:' %>
      </div>
      <div class="left user_form_select">
        <%= f.select :role, [['Administrator', 'admin'], ['User', 'user']] %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left form_label">
        <%= f.label 'Password:' %>
      </div>
      <div class="left">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left form_label">
        <%= f.label 'Password Confirmation:' %>
      </div>
      <div class="left">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div class="user_form_submit">
      <%= link_to 'cancel', users_path %>
      <span>
        <%= f.submit 'Save', :type => :image, :src => "/images/save_btn.png" %>
      </span>
      <div class="clear"></div>
    </div>
  <% end %>
</div>