<% content_for :title, "New User" %>
<br />
<h2>New User</h2>
<div>
  <%= form_for User.new, :url => users_path do |f| %>
    <div>
      <div class="left" style="margin-right: 123px;">
        <%= f.label 'Name:' %>
      </div>
      <div class="left">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left" style="margin-right: 126px;">
        <%= f.label 'Email:' %>
      </div>
      <div class="left">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left" style="margin-right: 100px;">
        <%= f.label 'Password:' %>
      </div>
      <div class="left">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left" style="margin-right: 25px;">
        <%= f.label 'Password Confirmation:' %>
      </div>
      <div class="left">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <%= link_to 'cancel', users_path, :style => 'margin-left: 271px;' %>
    <%= f.submit 'Create' %>
  <% end %>
</div>