<div class="span7 offset3">
  <div class="login_links">
    <div class="pull-right">
      Not a member?&nbsp;<%= link_to "Sign up here!",
        new_registration_path(resource_name) %>
    </div>
    <div class="clearfix"></div>
  </div>
  <h3 class="login_header">Change your password</h3>
  <%= form_for(resource, :as => resource_name,
    :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="top">
      <div class="pull-left reset_login_labels">
        <%= f.label :password, "New password" %></div>
      <div class="pull-left"><%= f.password_field :password %></div>
      <div class="clearfix"></div>
    </div>
    <div class="top">
      <div class="pull-left reset_login_labels">
        <%= f.label :password_confirmation, "Confirm new password" %>
      </div>
      <div class="pull-left"> <%= f.password_field :password_confirmation %></div>
      <div class="clearfix"></div>
    </div>
    <div class="span5">
      <div class="pull-right">
        <%= f.submit "Change password", :class => 'btn' %>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="login_links login_page_top_border">
      <div class="pull-right">
        Already a member?&nbsp;<%= link_to "Sign in here!",
          new_session_path(resource_name) %>
      </div>
      <div class="clearfix "></div>
    </div>
  <% end %>
</div>