<% content_for :title, "Image" %>
<% content_for :js_include, javascript_include_tag('jquery-ui-1.8.16.min', 'jquery-notes_1.0.8_min', 'image') %>
<% content_for :css_include, stylesheet_link_tag('jquery.notes') %>
<br />
<h2><%= @image.name %></h2>

<div class="pull-left">
  <%= form_for @image, :url => image_path do |f| %>
    <div>
      <div class="pull-left span2">
        <%= f.label 'Name:' %>
      </div>
      <div class="pull-left">
        <%= f.text_field :name %>
      </div>
      <div class="clearfix"></div>
      <br />
      <div class="pull-left span2">
        <%= f.label 'Category:' %>
      </div>
      <div class="pull-left">
        <%= f.select :category_code, @categories %>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="pull-left span2">
      <%= f.label 'Description:' %>
    </div>
    <div class="pull-left">
      <%= f.text_area :description %>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="span5" style="text-align: right;">
      <%= link_to 'cancel', images_path %>
      <%= link_to 'Delete Image', image_path(@image.id), :class => 'btn btn-danger', :method => :delete %>
      <span style="margin-right: 20px;">
        <%= f.submit 'Save Image', :class => 'btn' %>
      </span>
      <div class="clearfix"></div>
    </div>
  <% end %>
</div>
<div class="clearfix"></div>
<div data-image-tag="<%=image_tag_json(params[:id])%>" rel='image-tag'>
  <br />
  <%= image_tag ImageFile.url_to_image(params[:id], @image.format), :class => 'jquery-note_1-1', 
    :id => "image_#{params[:id]}", :width => '900' %>
</div>
<input type="hidden" id="image_id" value="<%= params[:id] %>" />
<input type="hidden" id="edit_notes" value="true" />