<% content_for :title, "Browse Images" %>
<% content_for :js_include, javascript_include_tag('images', 'jkmegamenu', 'jquery-notes_1.0.8_min') %>
<% content_for :css_include, stylesheet_link_tag('jkmegamenu', 'jquery.galleriffic', 'jquery.notes') %>
<div>
  <h2>Browse Images</h2>
</div>
<div class="pull-left">
  <%= render :partial => 'category_dropdown' %>
</div>
<% if current_user.admin? %>
  <div class="pull-left">
    <%= link_to 'Add Image', new_image_url, :class => 'btn' %>
  </div>
<% end %>
<div class="clearfix"></div>

<% if !@images.empty? %>
    <div class="navigation-container top">
    <div id="thumbs" class="navigation" style="opacity: 1;">
        <a class="pageLink prev" title="Previous Page" href="#" style="visibility: hidden; opacity: 0.67;"></a>
        <ul class="thumbs">
          <%= render :partial =>  'thumbnail', :collection => @images %>
        </ul>
        <a class="pageLink next" title="Next Page" href="#" style="visibility: visible; opacity: 0.67;"></a>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <div id="caption_image" class="caption-container">
      <div>
        <div>
          Name: <span class="image-title" id="image-name"><%=@images.first.name%></span>
        </div>
        <div>
          Description: <span class="image-title" id="image-descr"><%=@images.first.description%></span>
        </div>
        <div>
          Category: <span class="image-title" id="image-cat"><%=@images.first.category.name%></span>
        </div>
      </div>
      <% if(current_user.admin?) %>
        <div><a id="tagImage" href="#">Edit Image >></a></div>
      <% end %>
    </div>
    <div class="slideshow-container">
      <div id="loading" class="loader"></div>
      <div id="slideshow" class="slideshow"></div>
    </div>
  </div>
  <input type="hidden" id="image_id" value="<%= @images.first.id %>" />
<% else %>
  <div>There are no images added in the system.</div>
<% end %>
<input type="hidden" id="editAllowed" value="<%=current_user.admin? %>" />