<% content_for :title, "Browse Images" %>
<% content_for :js_include, javascript_include_tag('images') %>
<br />
<h2>Browse Images</h2>
<% if current_user.admin? %>
  <div>
    <a href="<%= new_image_url %>">
      <div class="big_button">
        <%= image_tag 'add_small.png' %> New Image
      </div>
    </a>
  </div>
  <br />
<% end %>
<% unless @images.empty? %>
  <div>
    <%= select_tag "categories", options_from_collection_for_select(@categories, :code, :name) %>
  </div>
  <div class="clear"></div>
  <br />
  <div>
    <table id="browseImages">
      <% @images.each_with_index do |image, indx| %>
        <% if ((indx + 1) % 4) == 1  %>
          <tr>
        <% end %>
          <% image_path = image_path(image.id) %>
          <% image_path = edit_image_path(image.id) if current_user.admin? %>
          <td><a href="<%=image_path%>"><%= image_tag ImageFile.url_to_thumbnail(image.id, image.format), :height => "150px", :width => "150px" %></a></td>
          <!-- <td><a href="<%= image_path %>"><%= image_tag 'cyto/thumbnails/' + image.id.to_s + '.' + image.format %></a></td> -->
        <% if ((indx + 1) % 4) == 0  %>
          </tr>
        <% end %>
      <% end %>
      </table>
  </div>
<% else %>
  <div>There are no images added in the system.</div>
<% end %>