<% content_for :title, "Browse Images" %>
<% content_for :js_include, javascript_include_tag('images') %>
<%= render :partial => 'megamenu_files'%>
<div class="left">
  <h2>Browse Images</h2>
</div>
<% if !@images.empty? %>
  <% if current_user.admin? %>
  <div class="right">
    <a href="<%= new_image_url %>">
      <%= image_tag 'add_image.png' %>
    </a>
  </div>
  <% end %>
  <div class="right" style="margin: 5px 10px;">
    <%= render :partial => 'common/category_dropdown' %>
  </div>
  <div class="clear"></div>
    <div class="navigation-container">
    <div id="thumbs" class="navigation" style="opacity: 1;">
        <a class="pageLink prev" title="Previous Page" href="#" style="visibility: hidden; opacity: 0.67;"></a>
        <ul class="thumbs">
          <%= render :partial =>  'thumbnail', :collection => @images %>
        </ul>
        <a class="pageLink next" title="Next Page" href="#" style="visibility: visible; opacity: 0.67;"></a>
    </div>
  </div>
  <div class="clear"></div>
  <div class="content">
    <div class="slideshow-container">
      <div id="controls" class="controls"></div>
      <div id="loading" class="loader"></div>
      <div id="slideshow" class="slideshow"></div>
    </div>
    <div id="caption" class="caption-container">
      <div>More description to come</div>
      <div class="photo-index"></div>
    </div>
  </div>
<% else %>
  <div>There are no images added in the system.</div>
<% end %>