<% content_for :title, "Browse Images" %>
<% content_for :js_include, javascript_include_tag('images', 'jquery-notes_1.0.8_min') %>
<%= render :partial => 'megamenu_files'%>
<div class="left">
  <h2>Browse Images</h2>
</div>
<% if current_user.admin? %>
<div class="right">
  <%= link_to image_tag('add_image.png'), new_image_url %>
</div>
<% end %>
<div class="right" style="margin: 5px 10px;">
  <%= render :partial => 'category_dropdown' %>
</div>
<div class="clear"></div>

<% if !@images.empty? %>
  <div class="clear"></div>
    <div class="navigation-container">
    <div id="thumbs" class="navigation" style="opacity: 1;">
        <a class="pageLink prev" title="Previous Page" href="#" style="visibility: hidden; opacity: 0.67;"></a>
        <ul class="thumbs">
          <%= render :partial =>  'thumbnail', :collection => @images %>
        </ul>
        <a class="pageLink next" title="Next Page" href="#" style="visibility: visible; opacity: 0.67;"></a>
    </div>
  </div>
  <div class="clear"></div>
  <div class="content">
    <div id="caption_image" class="caption-container">
      <div>
        <div>
          Name: <span class="image-title" id="image-name"><%=@images.first.name%></span>
        </div>
        <div>
          Description: <span class="image-title" id="image-descr"><%=@images.first.description%></span>
        </div>
        <div>
          Category: <span class="image-title" id="image-cat"><%=@images.first.category.name%></span>
        </div>
      </div>
      <% if(current_user.admin?) %>
        <div><a id="tagImage" href="#">Add Tags >></a></div>
        <!-- <div>More description to come</div> -->
        <!-- <div class="photo-index"></div> -->
      <% end %>
    </div>
    <div class="slideshow-container">
      <div id="loading" class="loader"></div>
      <div id="slideshow" class="slideshow"></div>
    </div>
  </div>
<% else %>
  <div>There are no images added in the system.</div>
<% end %>
<input type="hidden" id="image_id" value="<%= @images.first.id %>" />
<input type="hidden" id="editAllowed" value="<%=current_user.admin? %>" />