<% content_for :title, "New Image" %>
<% content_for :js_include, javascript_include_tag('jquery-ui-1.8.16.min', 'jquery-notes_1.0.8_min', 'image') %>
<br />
<h2>New Image</h2>
<div>
  <%= form_for Image.new, :url => images_path, :html => {:multipart => true, :class => 'jqtransform'} do |f| %>
    <div>
      <div class="left image_form_label">
        <%= f.label 'Name:' %>
      </div>
      <div class="left">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left image_form_label">
        <%= f.label 'Category:' %>
      </div>
      <div class="left">
        <%= f.select :category_code, @categories, :style => 'height: 105px; width: 300px;' %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left image_form_label">
        <%= f.label 'description:' %>
      </div>
      <div class="left">
        <%= f.text_area :description, :style => 'height: 105px; width: 300px;' %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div>
      <div class="left image_form_label">
        <label>Upload Image:</label>
      </div>
      <div class="left">
        <%= file_field 'upload', 'datafile' %>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <div class="image_form_submit">
      <%= link_to 'cancel', images_path %>
      <span>
        <%= f.submit 'Save', :type => :image, :src => "/images/save_btn.png" %>
      </span>
      <div class="clear"></div>
    </div>
  <% end %>
</div>