<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Cyto Site</title>
    <%= stylesheet_link_tag 'screen', 'style' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'ie', :media => 'all' %><![endif]-->
    <%= javascript_include_tag 'jquery-1.7', 'jquery.jqtransform', 'rails', 'application' %>
    <%= yield(:js_include) %>
    <%= csrf_meta_tag %>
  </head>
  <body class='<%=params[:controller].gsub('/','-') %> <%=params[:action] %>'>
    <%= render :partial => 'common/login_header' %>
    <div class="clear"></div>
    <div class="box container">
      <%= render_flash %>
      <br />
      <%= yield %>
    </div>
    <%= render :partial => 'common/footer' %>
  </body>
</html>