<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag 'screen', 'style' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'ie', :media => 'all' %><![endif]-->
    <%= javascript_include_tag 'jquery-1.7', 'jquery.jqtransform', 'rails', 'application' %>
    <%= yield(:js_include) %>
    <%= csrf_meta_tag %>
  </head>
  <body class='<%=params[:controller].gsub('/','-') %> <%=params[:action] %>'>
    <div class="shadow box container">
      <%= render :partial => 'common/header' %>
      <div class="clear"></div>
      <%= render :partial => 'common/navigation' %>
	  <%= render_flash %>
      <% if current_user.admin? && params[:controller] != 'home' %>
        <%= render :partial => 'common/admin_menu' %>
      <% end %>
      <%= yield %>
    </div>
    <%= render :partial => 'common/footer' %>
  </body>
</html>